<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <title>Course Registration System Login Page</title>
</head>
<body>
<div class="container">
    <h1>Login</h1>
    
    <form action="login/password" method="POST">
        <input id="username"type="text" placeholder="username" name="username" autocomplete="username" required autofocus><br>
        <input id="current-password"type="password" placeholder="password" name="password" autocomplete="current-password" required>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>